#title-one {
    letter-spacing: 4px;
    font-size: 50px;
    text-transform: uppercase;
    text-align:center;
    margin-top: 30px;
    margin-left: 650px;
    text-align: center;
    position: absolute;
    color: rgb(0, 0, 0, .7);
    

    
  }
  #header-one {
    font-size: 1.5em;
    letter-spacing: 2px;
    position: absolute;
    margin-top: 60px;
    margin-left: 400px;
    
    
    
   
    
    
  }
  .center {
    height: 105%;
    width: 100%;
    margin-top: -15px;
    margin-left: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
   
  
    
  }
  
  .picture-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 103%;
    width: 100%;
    filter: blur(5px);
    
  }
  body, html {
    height: 100%;
    margin: 0;
    margin-top: -15px;
    
    
  }
  
  #block{ 
    display: inline-block;
    position: absolute;
    margin-top: -630px;
    margin-left: 560px;
    background-color: white;
    height: 350px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    background-color: rgba(179, 180, 176, 0.3);
  
    
    
    
     }
  
  #header-one li { 
    float: left;
    list-style-type: none;
    margin: 30px;

   

    
    

  }
  #header-one a {
    text-decoration: none;
    color:rgb(0, 0, 0, .5);
    
    
    
   
    
  }
  #header-one a:hover {
    border-bottom: 2px solid black;
  }
  
  
  * {
    margin: 5px;
  }
  .first-page {
    margin-left: 800px;
    margin-top: 150px;
    
    
  }
  
  #Inspire {
    font-size: 200%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    float: left;
    margin-top: -700px;
    margin-left: 100px;
    position: absolute;
    color: rgb(0, 0, 0, .5);

  }
  #Inspire-p {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
  
    float: left;
    margin-top: -660px;
    margin-left: 100px;
    width: 400px;
    color: rgb(0, 0, 0, .5);
    
    
    
  
    position: absolute;
  }
  
  .phone {
    font-weight: bold;
  }
  
  .email {
    font-weight: bold;
  }
  
  #Weekday {
    border: 1px solid black;
    padding: 8px;
  }
  #Account a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
  }
  
#email-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  text-align: center;
  
  
}

#password {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  text-align: center;

}
#sign { 
  display: block;
  margin-left: 155px;
  margin-top: 30px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.7);
  
  
 
  
}
#register {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
}
   
#Social a{
  list-style: none;
  font-size: 100px;
  margin-left: 320px;
  margin-top: -10px;
  padding: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30%;
  color: rgb(255, 255, 255);
  display: inline-block;
}

#Social a:hover {
  background-color: rgb(248, 221, 188, .8);
  
}
#Social {
display: block;
background-color: rgb(0, 0, 0, .8);
width: 1630px;
height: 60px;
padding: 30px;
margin-left: -10px;
margin-bottom: 200px;
margin-top: 0px;
position: absolute;




}
    
#Rights {
  color: rgb(255, 255, 255);
  position: absolute;
  margin-left: 1500px;
  margin-top: 60px;
  
  

}

#gallery{
  
  line-height: 1;
  column-count: 3;
  column-gap: 1;


  
  
}

#gallery img {
  width: 101.8%;
  margin: -5px;
  margin-top: 500px;
  margin-bottom: -500px;
 
}
#GalleryIntro{
 position: absolute;
  margin-top: 300px;
  text-align: center;
  margin-left: 380px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color:rgb(0, 0, 0, .7)
}

#Quote {
  font-size: 15px;
  color: rgb(3, 3, 3, .4);
  margin-left: 1px;
}

#Logotwo {
  height: 100px;
  width: 100px;
  position: absolute;
  margin-top: -700px;
  margin-left: 1500px;
  
}
#List {
  float: left;
  font-size: 30px;
  margin-left: 150px;
  margin-top: 200px;
  font-family: 'Courier New', Courier, monospace;
}
#h3-0 {
  text-align: center;
  float: right;
  margin-right:-10px;
  margin-top: -150px;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform:capitalize;
  width: 1650px;
  height: 60px;
  background-color: rgb(248, 221, 188, .4);
  vertical-align: middle;
  padding: 30px;
  letter-spacing: 3px;
  color:  rgb(0, 0, 0, .7);


  
  

  
  
}
#Address {
  margin-top: 1200px;
}

#Contact {
  margin-top: 200px;
}

#Img3 {
  height: 400px;
  width: 600px;
  float: right;
  margin-right: 150px;
  margin-top: 100px;
  border-radius: 20%;
  border-style:solid;
  border-color: rgba(0, 0, 0, 0.664);
  
  
}

#Img4 {
  height: 430px;
  width: 600px;
  float: left;
  margin-left: 150px;
  margin-top: 170px;
  border-radius: 20%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.664);
 
}

#Listtwo {
  
  font-size: 30px;
  margin-top: 200px;
  font-family: 'Courier New', Courier, monospace;
  float: right;
  margin-right: 200px;
}

#Booking a {
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30%;
  transition: 0.5s;
  color: rgb(0, 0, 0);
  display: inline-block;
  background-color: rgb(248, 221, 188, .4);
  position: absolute;
  margin-top: 2600px;
  margin-left: 180px;
  text-align: center;
  
}

 #Contact {
   margin-top: 258px;
 }


#Contact-text {

  font-size: 25px;
  margin-bottom: 157px;
  margin-left: 300px;
  

  
}

#h3-3 {
  font-size: 30px;
  margin-left: 300px;
  text-decoration: underline;

}

#h3-4 {
font-size: 30px;
margin-top: 79.5px;
text-decoration: underline;
}

#Img-contact {
  position: absolute;
  height: 60%;
  width: 30%;
  margin-top: 150px;
  margin-left: 900px;
}

#Journey {
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  margin-top: 2500px;
  margin-left: 490px;
  width: 700px;
  text-align: center;
  position: absolute;
 
  
  
}

#Paragraph-two {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width: 1000px;
  text-align: center;
  margin-left: 320px;
  position: aboslute;
  margin-top: 70px;
  
  
}

#Whatisyoga {
 margin-top: 1100px;
 position: absolute;
}

#Yoga-title {
  font-size: 50px;
  text-align: center;
  position: absolute;
  margin-top: -125px;
  margin-left: 0px;
  background-color: bisque;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform:capitalize;
  width: 1650px;
  height: 60px;
  background-color: rgb(248, 221, 188, .4);
  vertical-align: middle;
  padding: 30px;
  letter-spacing: 3px;
  color:  rgb(0, 0, 0, .7);

  
  

 }
#History {
  position: absolute;
  font-size: 23px;
  margin-left: 800px;
  margin-top: 30px;
   }


 #Dots {
   font-size: 20px;
   position: absolute;
   margin-top: 1500px;
   margin-left: 350px;
   width: 300px;
   position: absolute;
   font-family:'Courier New', Courier, monospace;
 }
 
 #Meditation-img {
  height: 500px;
  width: 500px;
  position: absolute;
  margin-top: 1550px;
  margin-left: 300px;
 }

 #Benefits {
   position: absolute;
   font-size: 23px;
   margin-top: 1490px;
   margin-left: 450px;
 }
 